/* Main page, title and footer */
.app {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 600px;
  margin: 60px auto;
  text-align: center;
}
.title h1 {
  font-family: "Norican", cursive;
  color: #cba135;
  font-size: 50px;
  animation: reveal 3000ms ease-in-out forwards 500ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 1px;
  }
  100% {
    background-size: 300% 300%;
  }
}
.title-no-animation h1 {
  font-family: "Norican", cursive;
  color: #cba135;
  font-size: 50px;
  font-weight: 300;
}
.footer {
  margin: 40px 0 10px;
}
.footer .footer-text {
  font-size: 12px;
  font-weight: 300;
}
.footer .footer-text a {
  color: #cba135;
  text-decoration: none;
}

/* Home page and start quiz button */
.introduction .introduction-txt {
  font-size: 16px;
  font-weight: 300;
  padding: 30px 20px;
  border: 0.7px solid #cba135;
  border-radius: 7px;
}
.quiz-button {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
  padding: 10px 20px;
  border: 0.7px solid #cba135;
  border-radius: 7px;
  background-color: #cba135;
  outline: none;
}
.quiz-button:hover {
  cursor: pointer;
}
.introduction .quiz-button:hover {
  transform: scale(1.1);
}

/* Quiz container */
.quiz .counter {
  font-size: 13px;
  font-weight: 100;
  padding: 0;
  margin: 0;
}
.quiz .question {
  font-size: 20px;
  font-weight: 300;
  padding: 15px;
  margin: 0;
}
.quiz .answers {
  font-size: 16px;
  color: #cba135;
  display: block;
  margin: 10px auto;
  padding: 10px 5px;
  width: 400px;
  border: 1.5px solid #cba135;
  border-radius: 5px;
  background-color: #ffffff;
  outline: none;
}
.quiz .answers:hover {
  cursor: pointer;
}

/* Score and last page */
.score {
  padding: 30px 20px;
  border: 0.7px solid #cba135;
  border-radius: 7px;
}
.score .score-txt {
  font-size: 16px;
  font-weight: 300;
}

/* To get feedback on answer */
.quiz .answer-result {
  padding: 10px 0 20px;
  color: #28a862;
}
.symbols {
  font-size: 20px;
}
