/* Main page, title and footer */
.app {
  font-family: "Noto Sans JP", sans-serif;
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
}
.title h1 {
  font-family: "Norican", cursive;
  color: #cba135;
  font-size: 50px;
  animation: reveal 3000ms ease-in-out forwards 500ms;
}
@keyframes reveal {
  80% {
    letter-spacing: 2px;
  }
  100% {
    background-size: 300% 300%;
  }
}
.footer {
  margin: 20px 0;
}
.footer .footer-text {
  font-size: 12px;
  font-weight: 300;
}
.footer .footer-text a {
  color: #cba135;
  text-decoration: none;
}

/* Home page and start quiz button */
.introduction .introduction-txt {
  font-size: 16px;
  font-weight: 300;
  padding: 30px 20px;
  border: 0.7px solid #cba135;
  border-radius: 7px;
}
.introduction .quiz-button {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px;
  padding: 10px 20px;
  border: 0.7px solid #cba135;
  border-radius: 7px;
  background-color: #cba135;
}
.introduction .quiz-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
